.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    padding: 5px 16px;
    min-width: 100px;
    border-radius: 4px;
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;
    + .wrapper {
        margin-left: 16px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    &:focus {
        outline: none;
    }
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}
// Button types
.text {
    font-weight: 600;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    border-radius: 2px;
}
.rounded {
    border-radius: 52px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
    &:hover {
        border-color: currentColor;
    }
}

// Disabled

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}
