.menu-item {
    display: flex;
    font-size: 1.8rem;
    padding: 8px;
    font-weight: 700;
    align-items: center;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;
    &.active {
        color: var(--primary);
        .icon {
            display: none;
        }
        .active-icon {
            display: inline-block;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.title {
    margin-left: 10px;
    margin-bottom: 4px;
}
.active-icon {
    display: none;
}
