// Menu wrapper
.menu-list {
    width: 224px;
    .menu-item {
        margin-left: 0;
    }
}
.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

// Menu items
.menu-item {
    width: 100%;
    line-height: 1.8rem;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 600;
    padding: 11px 16px;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    cursor: pointer;
    &:focus {
        outline: none;
    }
    width: 50px;
    height: 100%;
    background-color: transparent;
}

.header-title {
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
